*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(pic.jpg);
    background-size: cover;
    width: 100%;
    font-family: sans-serif;
}
    
.menu-bar{
    background:rgb(206, 202, 202);
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style-type: none;
    color:aliceblue;
   
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
    
}
.menu-bar ul li a{
    text-decoration: none;
    color: rgb(17, 0, 255);

}
.active,.menu-bar ul li:hover
{
    background: #a8a3a3;
    border-radius: 2px;
}
.menu-bar .fa{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{   
    display: block;
    position: absolute;
    background: #a8a3a3;
    margin-top: 15px;
    margin-left: -15px;

}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 118px;
    padding: 10px;
    border-bottom: 1px dotted #1b3eca;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: aliceblue;
}
.fa-angle-right{
    float: right;
}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: #a8a3a3;
}


